.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: black;
}

.detail-info {
  color: #b2b2b2;
}

.info-container {
}

.title {
  font-size: 3rem;
}

.title-releases {
  font-size: 2.5rem;
}

h1 {
  text-align: center;
  color: white;
}

.detail-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

.release-img {
  width: 90%;
}
