.search-container {
  .searchBox {
    margin: 2rem 5rem;
    padding: 0.5rem;
    width: 250px;
    height: 1.5rem;
    background-color: white;
    color: #2e3440;
    border-radius: 28px;
    border: none;
  }
}
