.search-container {
    padding: 2rem;
    
    .searchBox {
        padding: .5rem;
        width: 300px;
        background-color: #2e3440;
        color: white;
        border-radius: 5px;
        border: 0;
    }
}
